/* Fonts */
:root {
  --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Raleway",  sans-serif;
  --nav-font: "Poppins",  sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root { 
  --background-color: #000000; /* Background color for the entire website, including individual sections */
  --default-color: #ffffff; /* Default color used for the majority of the text content across the entire website */
  --heading-color: #fbf2f2; /* Color for headings, subheadings and title throughout the website */
  --contrast-color: #312f2f; /* The contrast color is used for elements when the background color is one of the heading, accent, or default colors. Its purpose is to ensure proper contrast and readability when placed over these more dominant colors */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: rgba(255, 255, 255, 0.905);  /* The default color of the main navmenu links */
  --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# Loader Vid
--------------------------------------------------------------*/

#video-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000; /* Fallback color */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it's on top of all content */
}

#video-loader video {
  max-width: 100%;
  max-height: 100%;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
a {
  color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
}

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
  --background-color: rgba(0, 0, 0, 0.8);
  --heading-color: #ffffff;
  --contrast-color: #ffffff;
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 10px 0;
  transition: all 0.5s;
  z-index: 997;
}



.header .logo img {
  max-height: 8vh;
  margin-right: 8px;
}





.header .btn-getstarted,
.header .btn-getstarted:focus {
  font-size: 18px;
  padding: 8px 30px;
  margin: 0 0 0 30px;
  border-radius: 4px;
  transition: 0.3s;
  color: #fff;
  border: 2px solid rgba(117, 103, 110, 0.8);
}

.header .btn-getstarted:hover,
.header .btn-getstarted:focus:hover {
  background-color: rgba(117, 103, 110, 0.8);
}

@media (max-width: 1200px) {
  .header .logo {
    order: 1;
  }

  .header .btn-getstarted {
    order: 2;
    margin: 0 15px 0 0;
    padding: 6px 15px;
  }

  .header .navmenu {
    order: 3;
  }
}

.scrolled .header {
  box-shadow: 0px 0 18px color-mix(in srgb, var(--default-color), transparent 85%);
}

/* Index Page Header
------------------------------*/
.index-page .header {
  --background-color: rgba(0, 0, 0, 0);
}

/* Index Page Header on Scroll
------------------------------*/
.index-page.scrolled .header {
  --background-color: rgba(0, 0, 0, 0.8);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Navmenu - Desktop */
@media (min-width: 1200px) {
  .navmenu {
    padding: 0;
  }

  .navmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navmenu li {
    position: relative;
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-color);
    padding: 18px 20px;
    font-size: 20px;
    font-family: var(--nav-font);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    transition: 0.3s;
  }



  .navmenu li:hover>a,
  .navmenu .active,
  .navmenu .active:focus {
    color: rgba(117, 103, 110, 0.8);
  }
}

/* Navmenu - Mobile */
@media (max-width: 1199px) {
  .mobile-nav-toggle {
    color: var(--nav-color);
    font-size: 28px;
    line-height: 0;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .navmenu {
    padding: 0;
    z-index: 9997;
  }

  .navmenu ul {
    display: none;
    position: absolute;
    inset: 60px 20px 20px 20px;
    padding: 10px 0;
    margin: 0;
    border-radius: 6px;
    background-color: var(--nav-dropdown-background-color);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
    box-shadow: 0px 0px 30px color-mix(in srgb, var(--default-color), transparent 90%);
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-dropdown-color);
    padding: 10px 20px;
    font-family: var(--nav-font);
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
    background-color: color-mix(in srgb, var(--accent-color), white 90%);
  }

  .navmenu a i:hover,
  .navmenu a:focus i:hover {
    background-color: color-mix(in srgb, var(--accent-color), white 90%);
  }

  .navmenu a:hover,
  .navmenu .active,
  .navmenu .active:focus {
    background-color: var(--nav-dropdown-hover-color);
  }

  .navmenu .active i,
  .navmenu .active:focus i {
    transform: rotate(180deg);
  }

  .navmenu .dropdown ul {
    position: static;
    display: none;
    z-index: 99;
    padding: 10px 0;
    margin: 10px 20px;
    background-color: var(--nav-dropdown-background-color);
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
    box-shadow: none;
    transition: all 0.5s ease-in-out;
  }

  .navmenu .dropdown ul ul {
    background-color: rgba(33, 37, 41, 0.1);
  }

  .navmenu .dropdown>.dropdown-active {
    display: block;
    background-color: rgba(33, 37, 41, 0.03);
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    position: absolute;
    font-size: 32px;
    top: 15px;
    right: 15px;
    margin-right: 0;
    z-index: 9999;
  }

  .mobile-nav-active .navmenu {
    position: fixed;
    overflow: hidden;
    inset: 0;
    background: rgba(33, 37, 41, 0.8);
    transition: 0.3s;
  }

  .mobile-nav-active .navmenu>ul {
    display: block;
  }
}



/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background-color: #fbf2f2;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: #ffffff;
  line-height: 0;
}

.scroll-top:hover {
  background-color: #312f2f;
  color: white;
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}




/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 80px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 58px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: color-mix(in srgb, var(--default-color), transparent 50%);
  position: relative;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: var(--accent-color);
  margin: 4px 10px;
}

.section-title p {
  color: var(--heading-color);
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

/*--------------------------------------------------------------
# Ghost Section
--------------------------------------------------------------*/
.hero {
  --default-color: #ffffff;
  --background-color: #000000;
  --heading-color: #ffffff;
  min-height: 100vh;
  min-height: 100vh;
  position: relative;
  padding: 120px 0 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.hero img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 120%;
  object-fit: cover;
  z-index: 1;
  
}

.smoke-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  opacity: 0.3; 
  z-index: 2; 
  pointer-events: none; 
}

@media (max-width: 768px) {
  .hero img {
    height: 50%;
    margin-top: 100px;
  }
}



/*--------------------------------------------------------------
# Class Section
--------------------------------------------------------------*/
.about .content h3 {
  font-size: 2.50rem;
  font-weight: 700;
  text-align: center;
  padding-top: 200px;


}

.about img{
  padding-top: 200px;
  padding-left: 70px;
  margin-top: -90px;
  

  
}


.about .content p:last-child {
  margin-bottom: 0;
  text-align: justify;
  font-size: 1.70rem;
  margin-top: 80px;
}

@media (max-width: 768px) {
  .about img {
    height: 600px;
    margin-bottom: 50px;
  }
}


/*--------------------------------------------------------------
# Guns Section
--------------------------------------------------------------*/



.guns h1 {
  margin-top: 200px;
  padding-top: -50px;
  text-align: center;
}

.guns .swiper-slide img {
  opacity: 0.5;
  transition: 0.3s;
  filter: grayscale(90);
  max-height: 8vw;
  max-width: 8vw;
  margin: 70px;
  
  
}

.guns .swiper-slide img:hover {
  filter: none;
  opacity: 1;
}

.guns .swiper-wrapper {
  height: auto;
}

.guns .swiper-pagination {
  margin-top: 50px;
  position: relative;
}

.guns .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: color-mix(in srgb, var(--default-color), transparent 80%);
}

.guns .swiper-pagination .swiper-pagination-bullet-active {
  background-color: white;
}

/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
.tips .tips-image {
  position: relative;
  min-height: 400px;
  
}

.tips .tips-image img {
  position: absolute;
  inset: 0;
  margin-left: -50px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.tips .tips-item h4 {
  font-size: 25px;
  font-weight: 700;
  margin: 0 0 5px 0;
}

.tips .tips-item i {
  font-size: 48px;
  color: var(--accent-color);
  margin-right: 20px;
  line-height: 0;
}

.tips .tips-item p {
  font-size: 18px;
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  margin: 0;
}

@media (max-width: 768px) {
  .tips-image img{
    height: 50px;

  }
}
/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
.Maps .MapBox {
  text-align: center;
  border: 1px solid rgba(195, 200, 206, 0.812);
  padding: 80px 20px;
  height: 100%;
  width: 100%;
  transition: all ease-in-out 0.3s;
}

.Maps .MapBox img{
  max-height: 35vh;
  max-width: 30vh;

}

@media (max-width: 1140px) {
  .mobile-nav-toggle {
    max-height: 20vh;
    max-width: 20vh;
  }

}



.Maps .MapBox h3 {
  font-weight: 700;
  margin: 10px 0 15px 0;
  font-size: 25px;
  transition: 0.3s;
}

.Maps .MapBox p {
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 0;
}

.Maps .MapBox:hover {
  box-shadow: 0px 0 25px 0 color-mix(in srgb, var(--default-color), transparent 92%);
  transform: translateY(-10px);
}

/*--------------------------------------------------------------
# Call To Action Section
--------------------------------------------------------------*/
.call-to-action {
  --background-color: #000000;
  --default-color: #ffffff;
  --contrast-color: #ffffff;
  padding: 80px 0;
  position: relative;
  clip-path: inset(0);
}

.call-to-action img {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.call-to-action:before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 50%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.call-to-action .container {
  position: relative;
  z-index: 3;
}

.call-to-action h3 {
  font-size: 28px;
  font-weight: 700;
  color: var(--default-color);
}

.call-to-action p {
  color: var(--default-color);
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*--------------------------------------------------------------
# Video Section
--------------------------------------------------------------*/


  .video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .video-container {
    width: 1080px;
    height: 700px;
    overflow: hidden;
    position: relative;
    border: 1px solid #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 100px;
  }

  .video-container iframe,
  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

@media (max-width: 500px) {
  .video-container iframe,
  .video-container video {
    width: 100%;
    height: 100%;

  

  }
  .video-container
  {
    margin: 10px;
  }
}
/*--------------------------------------------------------------
# Character Section
--------------------------------------------------------------*/


.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: #000;
  
}
.card {
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #312f2f;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  color: #fff;
  padding: 20px;
  
}
.card img {
  width: 30vh;
  height: 40vh;
}
.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}
.card-description {
  font-size: 14px;
}

@media (max-width: 821.6px) {
  .card-container {
      grid-template-columns: 1fr;
  }
}
